$c-transparent: transparent;
$c-white: #e4e5ea;
$c-grey: #656566;
$c-blue: #4077f3;
$c-black: #0e1014;
$c-first-gradient: linear-gradient(to right, #fcb045, #ff3f78);
$c-second-gradient: linear-gradient(to right, #fcb045, #fd1d1d);
